# Python
__pycache__/
*.pyc
venv/
.env

# Backend
backend/venv/
backend/logs/
backend/catboost_info/

# Frontend
node_modules/
dist/
.vite/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
*.pyc
__pycache__/
*.db
